<?xml version="1.0"?>
<!--
/**
 * @author MageDesk Team
 * @copyright Copyright (c) MageDesk (https://www.magedesk.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mgdskShpntgr>
                <title>ShipEntegra</title>
                <active>1</active>
                <model>MageDesk\ShipEntegra\Model\Carrier\Shipping</model>
                <url>https://newfront.shipentegra.com/v1/</url>
                <clientSecret backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <advanced>
                    <use_deafult>0</use_deafult>
                    <default_vol_weight>1</default_vol_weight>
                    <default_calculation_method>sum</default_calculation_method>
                </advanced>
            </mgdskShpntgr>
        </carriers>
    </default>
</config>
