<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_onepage_controller_success_action">
		<observer name="magedesk_shipentegra_observer_frontend_sales_ordersaveafter_sales_order_save_after" instance="MageDesk\ShipEntegra\Observer\Frontend\Sales\OrderSaveAfter"/>
	</event>
</config>
